<div class="jumbotron">
  <h1 class="display-3">Bream (Abramis brama)</h1>
  <br>
  <img src="https://www.farnhamanglingsociety.com/assets/images-species/bream_abramis_brama.gif" alt="">
  <p>Accuracy: {{accuracy}}%</p>
  <hr class="my-4">
  <p class="lead">Specimen weight: 3.4 kg (7.5 lb).</p>
  <p class="lead">Record: 12lb 3oz, Bolganard Lake, 1997</p>
  <hr class="my-4">
  <p>Bream are one of the most common coarse fish species in Ireland. They range from relatively small canal fish (although big specimens can be taken from stretches of limestone canal) to Shannon shoal fish sometimes averaging over 5 lbs. (2 Kilos) each, to the small groups of specimens in limestone loughs where individuals can sometimes exceed 10 lbs (4.5 Kilos). Record: 12 lbs. 3 oz (5.28 Kilos), Bolganard Lake, Ballinamore, Co. Leitrim in 1997. Specimen Weight: 3.4 kg (7.5 lbs.).</p>
  <hr class="my-4">
  <h3 class="display-5">Best Times to Fish</h3>
  <p>May/June and September/October.</p>
  <hr class="my-4">
  <h3 class="display-5">Best Waters to Fish</h3>
  <p>Some of the best bream waters in Ireland:River Erne and lakes including mighty Lough Oughter system and Lough Gowna and lakes particularly at Cootehill in Co. Cavan; Upper and Lower Lough Erne, River Shannon, River Suck, Loughs Derg & Ree, Shannon Erne waterway. Other popular waters include Ballyhoe Lakes and the lakes at Carrickmacross, Co. Monaghan, the River Bann at Portglenone, Inniscarra Lake in Co. Cork, the lakes at Corofin, Co. Clare and the Grand Canal at Enfield, Co. Meath.</p>
</div>
