<div class="jumbotron">
  <h1 class="display-3">Carp (Cyprinus carpio)</h1>
  <br>
  <img src="https://www.farnhamanglingsociety.com/assets/images-species/carp_common_cyprinus_carpio.gif" alt="">
  <p>Accuracy: {{accuracy}}%</p>
  <hr class="my-4">
  <p class="lead">Specimen weight: 5.4 kg (12 lb).</p>
  <p class="lead">Record weight: 14.24kg, Loughgall, Armagh. 2014.</p>
  <hr class="my-4">
  <p>
    There are four types of carp in Ireland. These are the fully scaled common carp, the mirror carp, which has relatively few scales and a smooth body surface, the linear carp, with scales along the lateral line only and the leather carp which are totally
    scale less and also very rare. Carp have been present in a few fisheries in Ireland for many years but it is only recently that a number of specialist fisheries have been developed around the country. Lower water temperatures in Ireland mean that
    carp do not grow to the huge weights that continental fisheries produce. A fish over 10 lbs. (4.5 Kilos) is a good one here in Ireland.
  </p>
  <hr class="my-4">
  <h3 class="display-5">Best Times to Fish</h3>
  <p>All year but more fish are active in warmer months from May until October.</p>
  <hr class="my-4">
  <h3 class="display-5">Best Waters to Fish</h3>
  <p>Lakeland Fishery in Rooskey Co. Roscommon, Gorteen Lake in Co. Clare, Oakland’s fishery in New Ross, Co. Wexford, Galmoylestown and Ballinafid Lakes near Mullingar, Co. Westmeath, Meadows Fishery, MAynooth, Co. Kildare, Brother’s and Capragh Lakes in
    Carrickmacross, Co. Monaghan and some small fisheries around some of the coarse angling centres in Co. Cavan.</p>
</div>
