<h2 class="page-header">Post Your Fish!</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/post", enctype="multipart/form-data">
  <div class="form-group">
    <label for="method">Specie of fish</label>
    <select class="form-control" name="specie" id="specie">
      <option>Pike</option>
      <option>Perch</option>
      <option>Roach</option>
      <option>Tench</option>
      <option>Bream</option>
      <option>Carp</option>
      <option>Trout</option>
    </select>
  </div>
  <div class="form-group">
    <label for="weight">Fish Weight</label>
    <input type="number" class="form-control" name="weight" id="weight" placeholder="Enter fish weight in lbs">
  </div>
  <div class="form-group">
    <label for="method">Method Of Catch</label>
    <select class="form-control" name="method" id="method">
      <option>Lures</option>
      <option>Bait</option>
      <option>Fly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Description (optional)</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <div class="custom-file">
      <input type="file" id="file-input" name="file" class="custom-file-input">
      <label for="file" class="custom-file-label">Choose file...</label>
    </div>
    <!-- original pic -->
    <div class="container mt-3">
      <div class="result"></div>
    </div>
    <div class="form-group">
      <label for="Location">Location of Catch</label>
      <div class="map-responsive">
        <div id="map"></div>
      </div>
      <input type="text" id="location" name="location" class="form-control" placeholder="Your location">
    </div>
    <div class="form-group">
      <select class="custom-select" id="privacy" name="privacy">
      <option value="true">Public</option>
      <option value="false">Private</option>
    </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
