<h2 class="page-header text-center">Specie Recognition</h2>
<p class="text-center">Upload an image of your fish, crop it to fit the fish and upload!</p>
<!-- input file -->
<div class="box">
  <div class="custom-file">
    <input type="file" id="file-input" class="custom-file-input">
    <label for="file" class="custom-file-label text-center">Choose file...</label>
  </div>
</div>
<!-- original pic -->
<div class="container">
  <div class="result"></div>
</div>
<!--cropped image result-->
<div class="container img-result hide text-center mt-3">
  <!-- result of crop -->
  <img class="cropped" src="" alt="">
</div>
<!-- input file -->
<div class="box text-center">
  <div class="options hide">
    <label> Width</label>
    <input type="number" class="img-w" value="300" min="100" max="1200" />
  </div>
  <!-- save btn -->
  <button class="btn-cropper btn-primary save hide">Save</button>
  <!-- download btn -->
  <a href="" class="btn-cropper btn-success download hide">Download</a>

  <h3 class="page-header">Upload your cropped picture!</h3>
  <form action="/upload" method="post" , enctype="multipart/form-data">
    <div class="custom-file">
      <input type="file" name="file" id="file-input1" class="custom-file-input">
      <label for="file" class="custom-file-label">Choose file...</label>
    </div>
    <div class="container">
      <div class="result1"></div>
    </div>
    <input class="btn-cropper btn-info btn-block" type="submit" value="Start Image Recognition">
  </form>

</div>
