<style type="text/css">
  #map{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute; }
    .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
</style>
 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard {{username}}</p>
<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="http://www.in-fisherman.com/files/2015/05/LeadImage10-1024x559.jpg" alt="">
        <div class="card-body">
          <h3 class="card-title">Specie Name: Pike</h3>
          <h4>Weight: 19lbs</h4>
          <h4>Method: Lure</h4>
          <p class="card-text">Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
          <div class="map-responsive">
          <div id="map"></div>
          </div>
        </div>
      </div>
      <!-- /.card -->
      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="https://i.pinimg.com/originals/ca/46/93/ca4693273bdd0076ff69caaa703bfe5f.jpg" alt="">
        <div class="card-body">
          <h3 class="card-title">Specie Name: Pike</h3>
          <h4>Weight: 19lbs</h4>
          <h4>Method: Lure</h4>
          <p class="card-text">Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
          <div class="map-responsive">
          <div id="map"></div>
          </div>
        </div>
      </div>
      <!-- /.card -->
      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="http://www.in-fisherman.com/files/2015/05/LeadImage10-1024x559.jpg" alt="">
        <div class="card-body">
          <h3 class="card-title">Specie Name: Pike</h3>
          <h4>Weight: 19lbs</h4>
          <h4>Method: Lure</h4>
          <p class="card-text">Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
          <div class="map-responsive">
          <div id="map"></div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.col-lg-12 -->

  </div>

</div>
