

<h1>Select a location!</h1>
       <p>Click on a location on the map to select it. Drag the marker to change location.</p>

       <!--map div-->
       <div class="map-responsive">
       <div id="map"></div>
       </div>

       <!--our form-->
       <h2>Chosen Location</h2>
       <form method="post">
           <input type="text" id="lat" readonly="yes"><br>
           <input type="text" id="lng" readonly="yes"><br><br>
           <button type="submit" class="btn btn-primary">Submit Location For Best Date</button>
       </form>
