<div class="jumbotron">
  <h1 class="display-3">Perch (Perca fluvialtilis)</h1>
  <br>
  <img src="https://www.farnhamanglingsociety.com/assets/images-species/perch_perca_fluviatilis.gif" alt="">
  <p>Accuracy: {{accuracy}}%</p>
  <hr class="my-4">
  <p class="lead">Specimen weight: 1.2 kg (2.646 lb).</p>
  <p class="lead">Record weight: 5lb 8oz Lough Erne. 1946</p>
  <hr class="my-4">
  <p>Perch are easily identified by their olive green colour and the distinctive vertical black stripes on their flanks. The pectoral, pelvic and tail fin are reddish in colour. The dorsal fin and the gill cover have sharp spines so the fish must be handled carefully. They are very common and can be found in most freshwater systems around Ireland but very big perch are rare, with fish seldom reaching 1.5 lbs. (0.68 Kilos). Specimen weight: 1.2 kilos (2.646 lb). Record Weight: 5 lb 8 oz (2.495 Kilos) on Lough Erne in 1946.</p>
  <hr class="my-4">
  <h3 class="display-5">Best Times to Fish</h3>
  <p>April to September.</p>
  <hr class="my-4">
  <h3 class="display-5">Best Waters to Fish</h3>
  <p>River Barrow and Lower Lough Erne for the bigger specimens.</p>
</div>
