<div class="jumbotron">
  <h1 class="display-3">Pike (Esox lucius)</h1>
  <br>
  <img src="http://www.greenislandlodge.com/images/Green-Island.png" alt="">
  <hr class="my-4">
  <p class="lead">Specimen weight: 9.1 kg (20 lb), River. 13.6 kg (30 lb), Lake. </p>
  <p class="lead">Record Weight: 42lb River Barrow, 1964. 41lb Lough Ross, Crossmaglen 2002</p>
  <hr class="my-4">
  <p>Ireland has produced legendary pike; several fish over 50lbs have been caught. The rod and line records of 39lbs 3ozs for a lough fish, and 42lbs for a river fish, do not fully give the measure of the biggest Irish pike, for greater fish swim in Irish waters. Pike can be found in every part of the country and they may be sought from boat or bank, in very big waters and very small ones. They can be fished for in every season, and they can also be caught by a wide range of methods; recently fly-fishing for pike has become very popular. It is important to sustain the high quality of Irish pike fishing. For this reason conservation regulations have been introduced to encourage the live return of all bigger fish.
  </p>
  <hr class="my-4">
  <h3 class="display-5">Spawning</h3>
  <p>They spawn between February and April when water temperatures are less than 8°C. They attach their adhesive eggs to flooded grass, reeds and other vegetation. Adult pike produce between 9,000-20,000 eggs/kg. Longevity (age): Pike rarely live beyond 15 years of age.</p>
  <hr class="my-4">
  <h3 class="display-5">Diet</h3>
  <p>Adult pike are pisciverious, feeding on available fish species, but invertebrates are an important part of the diet of smaller pike. Male pike rarely exceed 4.5 kg (10 lb) in weight and occasionally become part of the diet of larger female pike.</p>
  <hr class="my-4">
  <h3 class="display-5">Best Angling Methods</h3>
  <p>Spinning, trolling and fly fishing; float fishing, float ledger, ledgering and sink and draw a range of deadbaits.</p>
  <hr class="my-4">
  <h3 class="display-5">Best Baits</h3>
  <p>A range of plugs, spoons, spinners, jerk baits, pike flies and a range of small deadbaits including herring, mackerel, smelt, sprat and other sea deadbaits.</p>
  <hr class="my-4">
  <h3 class="display-5">Best Times to Fish</h3>
  <p>Pike fish well all year around but are at their biggest, heaviest and hungruest coming up to spawning time. After this early spring frenzy the fishing, while still rewarding does not peak until the warmest months have ended. By September the fish have fully recovered from spawning efforts and the tiring heat of the long Summer. They feed well from now to the end of the year despite the worst of winters weather. Big oily deadbaits will tempt a slumbering pike on the coldest day of the year if you know where to find him.</p>
</div>
