<div class="jumbotron">
  <h1 class="display-3">Roach (Rutilus rutilus)</h1>
  <br>
  <img src="https://www.farnhamanglingsociety.com/assets/images-species/roach_rutilus_rutilus.gif" alt="">
  <p>Accuracy: {{accuracy}}%</p>
  <hr class="my-4">
  <p class="lead">Specimen weight: 907 grams (2 lb).</p>
  <p class="lead">Record weight: 3lb Lagan Canal, 2002.</p>
  <hr class="my-4">
  <p>Roach were introduced into Ireland in the late 1800’s and they are now one of the most prolific coarse fish, occurring in waters in all parts of the country and offering sport through most of the year. They are probably the most important fish to the coarse angler as they make up the bulk of the weight of many catches. Specimen weight: 907 grams (2 lb). Record Weight: 3 lbs. (1.425 Kilos) in the Lagan Canal in 2002.</p>
  <hr class="my-4">
  <h3 class="display-5">Best Times to Fish</h3>
  <p>Roach may be caught all year round and can provide good sport even on a cold winter’s day. The fishing becomes more rewarding in March and from then through April to May when the best bags can be taken.</p>
  <hr class="my-4">
  <h3 class="display-5">Best Waters to Fish</h3>
  <p>River Erne and Lakes in Co. Cavan, Upper and Lower Lough Erne, River Shannon, Loughs Derg & Ree, Shannon Erne waterway including lakes, Grand and Royal Canals, River Barrow, River Inny and the Blackwater River in Co. Cork at Fermoy and Mallow.</p>
  </div>
