<div class="jumbotron">
  <h1 class="display-3">Tench (Tinca tinca)</h1>
  <br>
  <img src="https://www.farnhamanglingsociety.com/assets/images-species/brown_trout_salmo_trutta.gif" alt="">
  <hr class="my-4">
  <p class="lead">Specimen weight: 2.7 kg (6 lb).</p>
  <p class="lead">Record weight: 8.15lb Ballyeighter Lake, 1995.</p>
  <hr class="my-4">
  <p>Tench are a popular fish and are found in most of our coarse waters around the country. They are usually located in marginal areas of lakes, rivers and canals especially near dense weed beds and under lily pads. Record weight: 8.15 lbs. (3.697 Kilos) at Ballyeighter Lake, Co. Clare in 1995. Specimen Weight: 2.7 kg (6 lb).</p>
  <hr class="my-4">
  <p>
    Best times to fish: June to August
  </p>
  <hr class="my-4">
  <p>Some of the best tench waters in Ireland: All the canals - the Royal, the Grand and the canal sections of the River Barrow. The stretches of the Shannon at Lanesborough and Shannonbridge, limestone loughs in Co. Clare, Ballyhoe and Rahan’s Lakes at Carrickmacross, Co. Monaghan and much of the River Erne catchment particularly lakes near Belturbet in Cavan and near Ballinamore in Co. Leitrim.</p>
</div>
