<div class="jumbotron">
  <h1 class="display-3">Brown Trout (Salmo Trutta)</h1>
  <br>
  <img src="https://www.farnhamanglingsociety.com/assets/images-species/brown_trout_salmo_trutta.gif" alt="">
  <p>Accuracy: {{accuracy}}%</p>
  <hr class="my-4">
  <p class="lead">Specimen weight: 2.268 kg (5 lb).</p>
  <p class="lead">Record weight: 26.2lb Lough Ennell, 1894.</p>
  <hr class="my-4">
  <p>The brown trout (Salmo trutta) or Breac Donn (Gaelic) is a native Irish species and the most widely distributed freshwater fish in Ireland. It thrives in waters of all types, from small mountain streams to broad limestone rivers and loughs. It’s main requirements are clean water and gravel in which to spawn.

Ireland has 16,000 km of main river channel and 10,000 km of tributary which are unspoilt and relatively unpolluted. They provide ideal habitat for trout. In addition, there are in excess of 500,000 acres (200,000 ha) of loughs.</p>
  <hr class="my-4">
  <p>
    Most brown trout fisheries open between February 15th and March 17th. Most close on September 30th with some exceptions which close on various dates between September 15th and October 12th. Clubs may have their own regulations on opening and closing dates.
  </p>
  <hr class="my-4">
  <p>The majority of waters are owned either privately or by the State. Many are leased to angling clubs or associations. A fishing permit issued by the owner or the lessee gives the permit holder the right to fish for set periods ranging from a day to a season. In the Republic of Ireland, permits for the best waters generally cost between €10 and €20 a day. Many of the big western loughs offer free fishing for brown trout.

Some fisheries such as Loughs Mask, Corrib, Conn, Derg, Carra, Ree, Cullin, and Arrow do not require permits.</p>
</div>
